@use '../base/_variables' as _variables;

body.light {
    color: _variables.$gray-2;
    background: _variables.$bg-content-light;
}
.light {
    .lf-toggle-inversed-logo {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .footer-widget-menu a,.footer-widget-contact-info a {
        color: _variables.$gray-2;
    }

    .footer-widget-menu a:hover,.footer-widget-contact-info a:hover {
        color: _variables.$info-color;
    }

    a {
        color: _variables.$dark-text-color;

        &:focus {
            outline: none;
            color: _variables.$secondary-color;
        }

        &:hover {
            //color: _variables.$secondary-color;
            text-decoration: none;
        }
        &.dropdown-item {
            color: _variables.$gray-2 !important;
        }
    }
    .lf-template-header {
        background: _variables.$bg-header-light;
    }

    .lf-toggle-text-color {
        color: _variables.$black-color;
    }

    .lf-toggle-text-color-75 {
        color: _variables.$black-color-75;
    }
    .lf-toggle-text-color-50 {
        color: _variables.$black-color-50;
    }
    .header {
        background-color: _variables.$bg-header-light !important;
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
    }
    .lf-toggle-bg-content {
        min-height: 625px;
    }

    .lf-toggle-bg-input {
        background: _variables.$gray-9 !important;
    }

    .lf-toggle-bg-settings-submenu {
        background: _variables.$bg-settings-submenu-light !important;
    }

    .form-control {
        color: _variables.$gray-2;
        background: _variables.$gray-12 !important;
        border-color: _variables.$border-card-light !important;
    }

    .lf-toggle-bg-card {
        background: _variables.$bg-card-light;
    }
    .lf-toggle-bg-reverse {
        background: _variables.$bg-card-dark;
    }

    .lf-toggle-border-card {
        border: 1px solid _variables.$border-card-light;

        .card-header {
            border-bottom: 1px solid _variables.$border-card-light;
        }

        .card-footer {
            border-top: 1px solid _variables.$border-card-light;
        }
    }

    .lf-toggle-bg-footer {
        background-color: _variables.$bg-header-light !important;
        background-size: cover;
    }
    .footer-widget {
        .footer-widget-title {
            color: _variables.$white-color;
        }
    }
    .lf-toggle-bg-copyright-footer {
        background: _variables.$bg-header-dark;
    }

    .lf-toggle-border-color {
        border-color: _variables.$border-card-light !important;
    }

    .card-nav {
        .nav-item.active {
            background: _variables.$bg-card-light;
        }
    }
    .lf-kyc-card {
        &:hover {
            .card-footer {
                background-color: _variables.$info-color;
                color: _variables.$white-color
            }
        }
    }

    #open-order-table {
        thead th, tbody td {
            border: 1px solid _variables.$border-card-light;
        }
    }

    #market-table-dropdown {
        .dropdown-menu {
            background: _variables.$bg-content-light;
            border: 1px solid _variables.$border-card-light;

            .dropdown-item {
                color: _variables.$black-color;

                &:hover, &:focus {
                    background: _variables.$white-color-50;
                }
            }
        }
    }

    .exchange-form-nav {
        .nav-item.active {
            background: _variables.$bg-card-light;
        }
    }

    .lf-nav-tab {
        a {
            background: _variables.$white-color-50;
            color: _variables.$gray-2;
            border-left-color: _variables.$border-card-light;
            border-bottom-color: _variables.$border-card-light;

            &:hover, &.active {
                background: _variables.$white-color;
                color: _variables.$info-color;
                border-bottom: none;
            }
        }
    }
    .lf-title {
        background: _variables.$bg-breadcrumb-light;

        h3 {
            color: _variables.$primary-color;
        }

        .breadcrumb {
            background: none;
        }
    }
    table {
        color: _variables.$black-color;
        &.lf-data-table{
            &.dtr-inline {
                > tbody {
                    > tr {
                        &.odd {
                            background: _variables.$table-odd-light;
                        }

                        &.even {
                            background: _variables.$table-even-light;
                        }
                    }
                }
            }
        }
        a {
            color: _variables.$info-color;
        }
    }
    .mymenu {
        li.individual-menu-item {
            .innermenu {
                .innermenuhead {
                    border: 1px solid _variables.$gray-10;
                    background: _variables.$gray-12;
                }
                .innermenubody {
                    border: 1px solid _variables.$gray-11;

                    input[type=text] {
                        border: 1px solid _variables.$gray-9;
                    }
                    .myhrborder {
                        border-bottom: 1px inset _variables.$white-color !important;
                    }
                }
            }
        }
    }
    #all-routes {
        .checkbox {
            background: _variables.$gray-12;

            &:nth-child(even) {
                background: _variables.$gray-10;
            }
        }
    }

    .page-item.disabled .page-link {
        color: _variables.$gray-6;
        background-color: _variables.$white-color;
        border-color: _variables.$border-card-light;
    }
    .page-link {
        color: _variables.$dark-color;
        background-color: _variables.$white-color;
        border-color: _variables.$border-card-light;
    }
    .bootstrap-tagsinput .tag {
        color: _variables.$gray-2;
    }
    .page-form .select2-selection.select2-selection {
        background-color: _variables.$bg-card-light;
        color: _variables.$gray-2;
        border-color: _variables.$border-card-light;
    }
    .select2-selection__choice {
        color: _variables.$gray-2;
    }
    .ticket-comment-body {
        background: _variables.$bg-content-light;

        &::after {
            border-bottom-color: _variables.$bg-content-light;
        }
    }
    .img-thumbnail {
        border-color: _variables.$gray-6;
    }
    .lf-main-nav {
        > li {
            > a {
                color: _variables.$dark-text-color;

                &:hover {
                    color: _variables.$theme-color;
                }
            }
            &.active {
                > a {
                    background: transparent !important;
                }
            }
        }
    }
    .lf-user-menu {
        line-height: _variables.$line-height-standard !important;

        > li {
            > a {
                color: _variables.$dark-text-color;

                &:hover, &.active {
                    color: _variables.$hover-color !important;
                }
            }
            /*------------------------------------*/
            /* ::::: USER NOTIFICATION STARTS ::::*/
            /*------------------------------------*/
            .lf-user-dropdown {
                .dropdown-toggle {

                    &:hover {
                        > i {
                            background: _variables.$hover-color;
                            border-color: _variables.$hover-color;
                        }
                    }

                    > i {
                        background: _variables.$dark-color;
                        color: _variables.$light-text-color;
                        border: 2px solid _variables.$dark-color;
                    }
                }
            }
            .lf-user-notification {
                .dropdown-toggle {
                    border: none;

                    &:hover {
                        .notification-icon {
                            color: _variables.$hover-color;
                        }
                    }

                    .notification-icon {
                        font-size: _variables.$font-size-6;
                        line-height: 18px !important;
                        color: _variables.$dark-text-color;
                    }

                    .lf-notification-count {
                        background: _variables.$hover-color;
                        color: _variables.$white-color;
                    }
                }

                .dropdown-menu {
                    box-shadow: 0 0 5px rgba(_variables.$black-color, 0.2);

                    .dropdown-header {
                        padding: 10px 10px;
                        text-align: center;
                    }

                    .dropdown-item {
                        border-top: 1px solid _variables.$gray-11;

                        &:hover {
                            color: _variables.$white-color;
                            background: _variables.$primary-color;
                        }
                    }

                }
            }

            .lf-language {
                .dropdown-toggle {
                    color: _variables.$dark-text-color;
                    font-weight: _variables.$font-weight-medium;

                    &:hover {
                        color: _variables.$hover-color;

                        .lf-language-text {
                            &::before {
                                color: _variables.$hover-color;
                            }
                        }

                        .lf-language-image {
                            img {
                                border-color: _variables.$hover-color;
                            }
                        }
                    }

                    &::after {
                        display: none;
                    }

                    .lf-language-image {
                        img {
                            height: 20px;
                            padding: 0;
                        }
                    }

                    .lf-language-text {
                        padding-left: 24px;
                        position: relative;

                        &::before {
                            content: '\f0ac';
                            font-family: FontAwesome, serif;
                            position: absolute;
                            left: 0;
                            top: -5.5px;
                            font-size: _variables.$font-size-7;
                            color: _variables.$dark-text-color;

                        }
                    }
                }

                .dropdown-menu {
                    min-width: auto;
                    padding: 0;
                    border: none;
                    box-shadow: 0 0 5px rgba(_variables.$black-color, 0.2);

                    .dropdown-item {
                        padding: 0;

                        &:hover {
                            overflow: hidden;
                        }

                        img {
                            padding: 1px;
                        }
                    }

                    .lf-language-text {
                        padding: 5px 15px;
                        font-size: _variables.$font-size-2;
                    }
                }
            }

            .lf-theme-switcher {
                border-color: hsla(0, 0%, 0%, 0.2);
                .btn {
                    color: rgba(0, 0, 0, 0.5);
                    &:hover{
                        color: rgba(0, 0, 0, 1);
                        background: rgba(0,0,0,0.2);
                    }
                }
                .active {
                    color: rgb(43,80,200);
                    background: rgba(0,0,0,0.2);
                }
            }

            /*------------------------------------*/
            /* ::::: USER NOTIFICATION ENDS ::::::*/
            /*------------------------------------*/
        }
    }

}
